h1 {
  background-color: #07435B;
  font-family: 'Source Sans Pro';
  color: #fff; 
  text-align: center;
  /*background-image: url('texturebg.png');*/
  padding: 20px
}

h2 {
  font-size: 15px;
  color: #07435B;
  font-family: arial;
  font-weight: bold;
}

h3 {
  font-size: 25px;
  color: #07435B;
  background-color: white;
  font-family: arial;
  font-weight: bold;
}

p {
  font-size: 15px;
  color: #07435B;
  background-color: white;
  font-family: arial;
}

strong {
  font-size: 15px;
  color: red;
}

body {
  background-color: white;
}

ol {
  font-size: 15px;
  color: white;
  background-color: #07435B;
  font-family: arial;
}